# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/env/schema.mjs"
# should be updated accordingly.

# Set to "production" for production builds, "development" for development
NODE_ENV=

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:<DB_PASSWORD>@<LOCALHOST?>/<DB_NAME>?schema=public"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

#upload thing. Visit https://uploadthing.com/ to register your own dev env storage
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# https://developers.google.com/identity/oauth2/web/guides/get-google-api-clientid
# https://next-auth.js.org/providers/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_S3_UPLOAD_USERNAME=
NEXT_PUBLIC_S3_UPLOAD_PASSWORD=
NEXT_PUBLIC_MAPBOX_TOKEN=